<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iphoneos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>macos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>011E9F551FBED7C90026326F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>011E9FBA1FBED8A60026326F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0157BE761FB47E20003B83E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C2FDDB1FB0BD2A003E6658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
